*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body>header{    /* Filho direto */
    width: 100%;
    height: 60px;
    background: #0C0F11;
    display: flex;
    gap: 25px;
    align-items: center;
    padding-left: 18%;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logotipo img{
    height: 50px;
}

.menu a:link, .menu a:visited{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover{
    text-decoration: underline;
}

.banner img{
    width: 100%;
}

.nossosJogos{
    background-image: url('../img/bg-nossos-jogos.jpg');
    padding: 100px;
}

.artigos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.nossosJogos { 
    text-align: center;
}

.nossosJogos h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
.jogos {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 300px;
    height: 400px;
}

.jogos img {
    margin-bottom: 6%;
}

.jogos h2 {
    margin: 6%;
}

.jogos p {
    margin: 6%;
}

.jogos a {
    text-decoration: none;
    color: #ea4b12;
}

.jogos a:hover {
    text-decoration: underline;
}